.button-arrow{
    background-color: orange;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 1px black;
    cursor: pointer;
}
.button-arrow::before{
    content: '';
    display:block;
    box-sizing: border-box;
    width: 40px;
    height:40px;
    border-bottom: 0px solid black;
    border-left: 30px solid grey;
    border-right: 30px solid darkgrey;
    border-top:70px solid aqua;
    transform: translateX(35px);
}
.button-arrow .content{
    display: none;
}
.button-arrow.-right::before{
    transform: rotate(270deg) translatey(50%);
}
.button-arrow.-left::before{
    transform: rotate(90deg) translateY(-50%);
}