.card-project{
    background-color: darkorchid;
    width:200px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 5px 0px white ;
}
.card-project.-blue{
    background-color:darkblue
}
.card-project .card{
    width: 80%;
}