.section{
    background-color: darkslategray;
    padding-top:50px;
    padding-bottom:100px;
}
.section .main-title{
    margin-bottom:60px;
}
.section.-skills{
    background-color:pink;
    border-bottom:10px solid salmon;
}
.section.-projetos{
    background-color:darkolivegreen;
    border-bottom:10px solid salmon;
}